

.view-user {
    padding-top: 20px;
    background-image: linear-gradient(to bottom, rgb(65, 65, 65),rgb(237, 237, 237),rgb(237, 237, 237),rgb(237, 237, 237),rgb(237, 237, 237),rgb(237, 237, 237));
    background-repeat: no-repeat;
  }
  
  .view-heading {
    font-size: 2rem;
    color: #333; /* Set your desired text color */
    margin-bottom: 20px;
  }
  
  .view-breadcrumb {
    background-color: #ffffff8d; /* Set your desired background color */
    padding: 10px;
    border-radius: 5px;
  }
  
  .view-breadcrumb a {
    color: #007bff; /* Set your desired link color */
    text-decoration: none;
  }
  
  .view-breadcrumb a:hover {
    text-decoration: underline;
  }
  .user-count-box{
    display: flex;
    justify-content: center;
    background-color: coral;
    padding: 35px;
  }
  