/* Add these styles to your CSS or use inline styles */
.accordion-scroll {
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 300px; /* Set the maximum height */
  }
  
  .accordion-scroll-content {
    padding: 10px; /* Optional: Add some padding for better styling */
  }
.sidebar{
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 700px; /* Set the maximum height */
    margin-top: 20px;
}  