.info-label {
    color: #0122c6; /* Change color as needed */
    font-weight: bold;
  }
  
  /* Additional styling for the card text */
  .cardTextStyle {
    font-size: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    line-height: 1.6;
    color: #ffffff;
    margin-top: 10px; /* Adjust margin as needed */
  }
  .college-body{
    display: flex;
    background-image: linear-gradient(to bottom, rgb(0, 67, 251), rgb(30, 154, 255), rgb(0, 251, 255), rgb(30, 154, 255));
     height: 100%;
    background-size: 200% 200%;
    animation: color 10s ease-in-out infinite;
  }
  .gold-star{
    color:rgb(255, 197, 50);
  }
  @keyframes color{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }